.table-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:solid rgb(30, 168, 223);
  border-width:0.2px;
  background-color:  #fbfdfd;
  margin-top: 10em;
  border-radius: 5px;
  margin-left: 25%;
  margin-right: 25%;
  height:30em;
  h2 {
    color:rgb(30, 168, 223);
    form {
      div {
        margin:1em;
      }
    }

  }

  button {
    margin-top:1em;
    margin-left:40%;
    background-color: #4a82de;
    color: white;
    border: transparent;
    padding: 3px 10px;
    border-radius: 10px;
    width: 75px;
    justify-content: center;
    box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em,
      rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  }
}



h4 ~ input {
  border: solid rgb(133, 129, 129);
  padding: 3px 10px;
  border-radius: 10px;
  padding-right: 10em;
  height: 10em;
  border-width:0.2px;
}

