nav {
  background-color: rgb(22, 162, 218);
  color: white;
  height: 100px;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.nav-title {
  font-size: 40px;
  margin-left: 0.5em;
  font-style:italic;
}
.nav-options {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  button {
    background: transparent;
    border:none;
    color:white;
    padding-left: 2em;
  }
  a {
    color:white;
    display:block;
    padding-left: 2em;
    padding-right: 5px;
    text-decoration: none;
  }
}

