body {
  background-color: #ACE9D4;
  padding-top: 10em;



 }
 .container-1{
  display: grid;
  grid-template-columns: repeat(1, 1fr);

    padding-left:10em ;
    padding-right:10em ;
    width: 200px;
    margin-bottom: 2em;

    img {
      max-width: 200%;
      max-height: 200%;
     }

 }
