body {
  background-color:  #fbfdfd;
  padding-top: 10em;
}
.price-filter {
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
  margin-right: 50em;
  div {
    margin:0.5em;
  }

}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
.container-1 {
  padding: 28px 28px;
  border: none;
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: rgba(226, 232, 243, 0.6) 0px 1em 1.175em;
  width: 25em;
  color: rgb(63, 61, 61);
  img {
    max-height: 15em;
    max-width: 15em;
    border-radius: 5px;

  }
  .name-price {
    padding-left: 20px;
    padding: 20px 18px;
    color: rgb(63, 61, 61);
    font-size: 15px;
    display: flex;
    flex-direction:row ;
    justify-content: center;
  }

  footer{

    max-height: 5em;
    .love-buy{
      display: flex;
      flex-direction:row ;
      justify-content: space-between;
    }
  }
  button {
    color: rgb(63, 61, 61);
  }
  header {
    height: 19em;
    box-shadow: none;
    display: flex;
    flex-direction:row ;
    justify-content: center;
  }


}
#maxPrice ~ button {
  margin-left:0.5em;
  background: transparent;
  border-color: rgb(168, 168, 164);
  border-radius: 2px;
}
