body {
  padding:10em;
  color: #161718;
  background-color: #f8ebd6;
  font-size: 160 px;
  line-height: 1.6em;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.main-content, header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

}

/*
.container-1 {
  width: 30%;
  justify-content: row;
  align-items: flex-start;
  border-color: #111213;
  border-width: 40px;
  margin: auto;
  padding: auto;
} */

.container-3 {
  /* border-bottom: black;
  border-width: 300px;
  justify-content: column;
  align-items: flex-end;
  border-color: #c8dde9;
  border-width: 20px;
  margin: auto;
  padding: auto;
  text-align: left; */
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  font-family: sans-serif;
  color: black;
  border: 2px solid black;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 25px;
  padding:0.5em;
  box-shadow: 0px 3px 8px #000;
  transition: all 200ms ease-in-out;
  height: 200px;
  width: 60%;
}
.container-1 > img {
  width: 300px;
  padding : 20px;
}
.container-2 {
  text-align: left;
}
