body {
  background-color:  #fbfdfd;
  padding-top: 10em;
}
.main-content {
  color: rgb(63, 61, 61);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size:160 px;
  line-height: 1.6em;
  margin: 0;
  .container-1 {
    width: 40%;
    justify-content: flex-end;
    img {
      width:60%;
    }
  }
  .container-right {
    flex-direction:column;
    justify-content: space-around;
    margin-top:2em;
    button {
      background: transparent;
      border:none;
      color:rgb(30, 168, 223);
      text-decoration:underline;
    }
    form {
      margin-top: 1em;

      a {
        color:rgb(30, 168, 223);
        margin-left: 0.5em;
      }
    }
  }

}




