body {
  padding-top: 10em;
  background-color:  #fbfdfd;
  header {
    display:flex;
    justify-content:center;
    color:rgb(30, 168, 223);
  }

}

.main-content {
  color: rgb(63, 61, 61);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size:160 px;
  line-height: 1.6em;
  margin: 0;
  .container-1 {
    width: 40%;
    justify-content: flex-end;

    img {
      width:60%;
      padding-left: 15%;
    }
  }
  .container-right {
    flex-direction:column;
    justify-content: space-around;
    margin-top:2em;
    width: 60%;
    a {
      color:rgb(30, 168, 223);
      margin-left: 0.5em;
    }
  }

}





.container-3 {
  justify-content: column;
  align-items: flex-end;
  border-color: #c8dde9;
  border-width: 20px;
  margin: auto;
  padding: auto;
  text-align: left;
}



.container-2 {
  text-align: left;

}

