
<header>
 <nav>
<div class= "nav-title">
LIGHTMARKET
</div>
<% if (!user || user === "undefined") { %>
<div class="nav-options">
  Sign In |  <a href="views/Messages.ejs">Messages</a> |<a href="views/wish_items.ejs">Wishlist</a> |  <form method="POST" action='/api/users/login/logout'><button type="send">logout</button>
</div>
<% } else {%>
  <div class="nav-options">
    Welcome:<%= user.name %> |  <a href="views/Messages.ejs">Messages</a> |<a href="views/wish_items.ejs">Wishlist</a> |  <form method="POST" action='/api/users/login/logout'><button type="send">logout</button>
  </div>
  <% } %>
 </nav>
</header>

