
<header>
 <nav>
<div class= "nav-title">
LIGHTMARKET
</div>
<div class="nav-options">
  Welcome: username |  <a href="views/Messages.ejs">Messages</a> |<a href="views/wish_items.ejs">Wishlist</a> | <form method="POST" action='/api/users/login/logout'><button type="send">logout</button>
  </form>
  </form>
</div>

<div>

</div>
 </nav>
</header>

