<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
<header>
 <nav id="nav">
<div class= "nav-title">
LIGHTMARKET
</div>
<div class="nav-options">
  Hi: username | Messages | Cart | Wishlist | Logout
</div>

<div>

</div>
 </nav>
</header>
