<!DOCTYPE html>
<html lang="en">
<head>
  <title>Send Message</title>

  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/message.css">
</head>
<body>
  <%- include("partials/header") %>
    <div class="table-data">
<h2>Send Message</h2>


            <form method="POST" action='send/<%= user.id %>'>
              <h3>To:<%= user.username %></h3>
              <h4>Mobile:<input type="text" id="mobile" name="mobile" value="<%= user.mobile %>"></h4>
              <input type="text" id="message" name="message" placeholder="Hi there!">
              <div ><button type="send" class="btn btn-outline-primary">Send</button></div>
            </form>
    </table>
    </div>
</body>
</html>
