<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../styles/product.scss">
  <link rel="stylesheet" href="../styles/header.scss">

  <title>Product</title>
 </head>

  <body>
    <div class="main-content" >
      <div class="container-1">
       <img src="https://images.unsplash.com/photo-1611762820957-d81b7aaa7d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80">
      </div>
      <section class="container-right">
        <div class="container-2">
          <%-product.name %>
          <%-product.price %>
        </div>

        <div class="container-3">
          <%-product.description %>
        </div>
      </section>
    </div>
  </body>
</html>



