<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Page LIGHTMARKET</title>
</head>
<body>

  <% for(let product of products) { %>

    <div><%= product.id %></div>
    <div><%= product.name %></div>
    <div><%= product.sold %></div>

    <form method="post" action='/products/marksold/<%= product.id %>'>
      <button type="send" class="btn btn-outline-primary">Add to Wishlist</button>
    </form>

  <% } %>



</body>
</html>
