<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/styles/wish_items.css">

  <title>Product</title>
</head>

<body>
  <header><b>
      <h1> Wish List Items </h1>
    </b></header>
  <div class=products>

    <tbody>
      <% for(product of products) { %>
        <div class="main-content">
          <p class="container-2">
            <%=product.product_name %><br>
          </p>

          <section class="container-right">
            <td>
              <form method="POST">
                <button type="Submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </section>
        </div>
        <% } %>
    </tbody>

  </div>

</body>

</html>
